 #
# user defined parameters
#
cat("pepit config\n")
# for pepit.R cliques computations and output
# main parameters
NBHITS = 10
NBCLIQUES = 10
MINCLIQUESIZE = 6
MINALEN = 6 #
PEPTRIM = TRUE
MAXCLASHES  =  100
MINPEPLEN = 4
MAXPEPLEN = 25
POSE = TRUE
ALIGNFILE = FALSE
PEPSEQ = TRUE
#
# for BuildBSBank.R
#
CONTACT = 6.0
#ADD = "calpha"
ADD = "residue"
HSECUTOFF =  13
HSERADIUS = 13
